<!--
https://towardsdatascience.com/updating-your-github-repository-using-python-a5c283a011d7 Updating Your Github Repository Using Python
https://blog.knoldus.com/gitpython-how-to-use-git-with-python/  GitPython: How to use Git with Python
https://www.programcreek.com/python/example/6511/git.Repo   Python git.Repo() Examples
https://devguide.python.org/gitbootcamp/
https://kbroman.org/github_tutorial/pages/init.html
https://gist.github.com/lukpueh/498ff3489321bdc7106c05a2fd5b941c
https://gist.github.com/brizandrew/e5ff878f8e3c17386de037c201386dc1
https://github.com/bloomberg/python-github-webhook/blob/master/github_webhook/webhook.py

https://github.com/techno-tim/ansible-homelab
https://devguide.python.org/gitbootcamp/
https://gitpython.readthedocs.io/en/stable/tutorial.html


-->

<!-- =============================================================== -->
{% set cdsrc_pyhw01 ="
from flask import Flask
from flask import json
import logging

app = Flask(__name__)

@app.route('/status')
def healthcheck():
    response = app.response_class(
            response=json.dumps({'result':'OK - healthy'}),
            status=200,
            mimetype='application/json'
    )

    app.logger.info('Status request successfull')
    return response

@app.route('/metrics')
def metrics():
    response = app.response_class(
            response=json.dumps({'status':'success','code':0,'data':{'UserCount':140,'UserCountActive':23}}),
            status=200,
            mimetype='application/json'
    )

    app.logger.info('Metrics request successfull')
    return response

@app.route('/')
def hello():
    app.logger.info('Main request successfull')

    return 'Hello World!'

if __name__ == '__main__':
    ## stream logs to a file
    logging.basicConfig(filename='app.log',level=logging.DEBUG)

    app.run(host='0.0.0.0')"
%}


<!-- =============================================================== -->
{% set dkrfl_pyhw = '
FROM python:3.8
LABEL maintainer="Katie Gamanji"
COPY . /app
WORKDIR /app
RUN pip install -r requirements.txt
CMD [ "python", "app.py" ]'
%}

<!-- =============================================================== -->
{% set yaml07 ='
##  Named of the workflow.
name: Pytest

## Set the trigger policy.
## In this case, the workflow is execute on a `push` event,
## or when a new commit is pushed to the repository
on: [push]

## List the steps to be executed by the workflow
jobs:
  ## Set the name of the job
  build:
    ## Configure the operating system the workflow should run on.
    ## In this case, the job on Ubuntu. Additionally, set a the job
    ## to execute on different Python versions
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8]
    ## Define a sequence of steps to be executed
    steps:
      ## Use the public `checkout` action  in version v2
      ## to checkout the existing code in the repository
    - uses: actions/checkout@v2
      ## Use the public `setup-python` actoin  in version v2
      ## to install python on the Ubuntu based environment.
      ## Additionally, it ensures to loop through all
      ## the defined Python versions.
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    ## Install all necessary dependecies .
    ## For example, pytest and any defined packages within the requirements.txt file.
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install  pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    ## Run all pytests by inovking the `pytest command`
    - name: Test with pytest
      run: |
        pytest'
%}

<!-- =============================================================== -->
{% set data =
{
'yaml07'                : yaml07,
'dkrfl_pyhw'            : dkrfl_pyhw,
'cdsrc_pyhw01'          : cdsrc_pyhw01,
}
%}

<!-- ===================================================================================== -->
{% set cmds_pyhw =
[
('C',"https://www.devdungeon.com/content/working-git-repositories-python", "", "source"),
('C',"", "", ""),

('C',"python -m pip install gitpython", "install gitpython", "install gitpython or"),
('C',"git clone https://github.com/gitpython-developers/GitPython", "gitpython", "get source and run setup"),
('C',"cd GitPython", "", ""),
('C',"python setup.py install", "", ""),
('C',"", "", ""),

('C',"import git", "", ""),
('C',"new_repo =  git.Repo.init('new_repo')", "INITIALIZE A NEW REPOSITORY","Create /new_repo with /.git"),

('C',"my_repo =  git.Repo('existing_repo')", "OPEN AN EXISTING LOCAL REPO", "open an existing repo on disk, pass the repo directory"),
('C',"git.Repo.clone_from('https://github.com/DevDungeon/Cookbook', 'Cookbook-https')", "# Check out via HTTPS", "# Check out via HTTPS"),
('C',"git.Repo.clone_from('git@github.cim:DevDungeon/Cookbook', 'Cookbook-ssh')", "# or clone via ssh (will use default keys)", "# or clone via ssh (will use default keys)"),

('C',"my_repo = git.Repo('existing_repo')", "", "CREATE A CLONE OF A LOCAL REPO # Load existing local repo"),
('C',"my_repo.clone('/path/to/clone_of_existing_repo')", "", "# Create a copy of the existing repo"),

('C',"if my_repo.is_dirty(untracked_files=True): print('Changes detected.')", "", "CHECK IF A REPO HAS CHANGES"),
('C',"diff = my_repo.git.diff(repo.head.commit.tree)", "", "GET A DIFF OF FILE CHANGES # Check differences between current files and last commit"),

('C',"", "", "CONFIGURE USER.NAME AND USER.MAIL"),

('C',"with new_repo.config_writer() as git_config: git_config.set_value('user', 'email', 'someone@example.com')","","set user after init"),
('C',"with new_repo.config_writer() as git_config: git_config.set_value('user', 'name', 'John Doe')", "", "set mail"),
('C',"with new_repo.config_reader() as git_config: print(git_config.get_value('user', 'email'))", "", "get user"),
('C',"with new_repo.config_reader() as git_config: print(git_config.get_value('user', 'name'))", "", "get mail"),

('C',"", "", "ADD AND COMMIT FILES"),
('C',"my_repo.index.add(['.gitignore', 'README.md'])", "", "add"),
('C',"my_repo.index.commit('Initial commit.')", "", "commit"),

('C',"", "", "WORK WITH REMOTE REPOSITORIES"),
('C',"work with remote repo",
"import git

repo = git.Repo('test_repo')

# List remotes
print('Remotes:')
for remote in repo.remotes: print(f'- {remote.name} {remote.url}')

# Create a new remote
try:
    remote = repo.create_remote('origin', url='git@github.com:NanoDano/testrepo')
except git.exc.GitCommandError as error:
    print(f'Error creating remote: {error}')

# Reference a remote by its name as part of the object
print(f'Remote name: {repo.remotes.origin.name}')
print(f'Remote URL: {repo.remotes.origin.url}')

# Delete a remote
repo.delete_remote('myremote')

# Pull from remote repo
print(repo.remotes.origin.pull())
# Push changes
print(repo.remotes.origin.push())", ""),

('C',"", "", "CREATE AND SWITCH BRANCHES"),
('C',"create and switch branches",
"import git

repo = git.Repo.init('my_new_repo')

# List all branches
for branch in repo.branches:
    print(branch)

# Create a new branch
repo.git.branch('my_new_branch')
# You need to check out the branch after creating it if you want to use it
repo.git.checkout('my_new_branch3')

# To checkout master again:
repo.git.checkout('master')", ""),

('C',"", "", ""),
]
%}

<!-- ===================================================================================== -->
{% set cmds_ci_01 =
[
('C',"", "", "33. Git Bootcamp and Cheat Sheet"),
('C',"Forking CPython GitHub Repository", "
1- Go to https://github.com/python/cpython.
2- Press Fork on the top right.
3- When asked where to fork the repository, choose to fork it to your username.
4- Your forked CPython repository will be created at https://github.com/<username>/cpython.", "33.1. Forking CPython GitHub Repository"),

    ('C',"", "", "33.2. Cloning a Forked CPython Repository"),
('C',"git clone git@github.com:<username>/cpython.git", "", ""),
('C',"cd cpython", "", ""),
('C',"git remote add upstream git@github.com:python/cpython.git", "", ""),
('C',"", "", ""),
('C',"", "", ""),
('C',"", "", ""),
('C',"", "", ""),

    ('C',"", "", ""),
    ('C',"", "", ""),
('C',"", "", ""),
]
%}

<!-- ===================================================================================== -->
{% set cmds = {
    'cmds_pyhw'             : cmds_pyhw,
    'cmds_ci_01'            : cmds_ci_01 ,
}
%}

<!-- =============================================================== -->
{% set lessons = {
    'Kubernetes': {
        'title': 'Lesson 1: Manage Repositories',
        'sections':[
            {
                'title': 'A- GitHub Commands Add',
                'labs':[
                    (10,"Initialize a new repo", 'cmds_pyhw'),
                    (11,"Open an existing local repo", 'cmds_pyhw'),
                    (12,"Clone a remote repo", 'cmds_pyhw'),
                    (13,"Create a clone of a local repo", 'cmds_pyhw'),
                    ]
            },
        ]
    },

    'Actions':{
        'title': 'Lesson 2: Work with a Repository',
        'sections': [
            {
                'title': 'Work',
                'labs': [
                    (20,"Check if a repo has changes", 'cmds_ci_01'),
                    (21,"Get diff of file changes", 'cmds_ci_01'),
                    (22,"Configure user,name and user mail", 'cmds_ci_01'),
                    (23,"Add and commit files", 'cmds_ci_01'),
                    (24,"Work with remote repos", 'cmds_ci_01'),
                    (25,"Create and switch branches", 'cmds_ci_01'),
                ]
            },
        ]
    }
}
%}
<!-- =============================================================== -->